@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@300;400;500;600&display=swap');

body{
    font-family: Open-Sans, sans-serif;
    color: #777777;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

h2{
font-family: Raleway, sans-serif;
text-transform: uppercase;
color: #333333;
}

/*-------------------------------- Page colours -----------------------------------*/


.nav-home {
    background-color: #b6b6b6;
}

.nav-resume {
    background-color: #b6b6b6;
}

.nav-contact {
    background-color: #b6b6b6;
}

.nav-download {
    background-color: #b6b6b6;
}

/*--------------------------- Naviagtion -----------------------*/



/*----------------------------- Main Content ----------*/


header{
    margin: 0 !important;
    padding: 0 !important;
}

.container{
    padding: 0 !important;
    margin: 0 !important;
}

.hero-outer{
  overflow: hidden;
  width: 100%;
  height: 80vh;
  position: relative;
  z-index: 0;
  background-size: cover;
  margin: 0;
}

.hero-image{
   background: url("../images/neutral-background.jpg") center center no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 100%;
    height: 80vh;
    position: relative;
  
}

/*-----------------------------Cover text ------------------*/

.cover-text-box{
bottom: 10%;
left: 35%;
  margin: 0 auto;
  position: absolute;
  contain: content;
  text-align: center;
  
}

.cover-text-header {
  color: #000;
  font-family: "Raleway";
  position: relative;
}

.cover-text-content {
  color: #800000;
  font-family: "Open Sans";
  position: relative;
  padding-bottom: 5px;
  font-size: 300;
}

  .cover-text-header,
  .cover-text-content {
    font-size: 4vmin;
  }


#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menucontainer{
    display: flex;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none !important;
    color: #ffffff;
    height: 120px;
}


.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2) !important;
    height: 120px;
}

.hvr-icon-bob {
display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(0.1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}